body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	color: var(--default);
}

:root {
	--error: red;
	--white: white;
	--header: #6d6d6d;
	--light-row: #e6e6e6;
	--dark-row: #c0c0c0;
	--default: #333333;
}

.smallerHeader {
	font-size: 1.5rem;
}

.pageHeader {
	background-color: var(--header);
	padding: 1rem;
	text-align: center;
}

.pageHeader h1 {
	color: var(--white);
}

main {
	padding: 1rem;
	max-width: max-content;
	margin: auto;
}

.submitButton {
	display: block;
	margin: 1rem 0rem 0rem auto;
}

.employeeTable {
	background-color: var(--default);
}

.employeeTable th {
	padding: 0.5rem;
	background-color: var(--header);
	color: var(--white);
}

.employeeTable td {
	padding: 0.5rem;
}

#tableBody td {
	background-color: var(--light-row);
}

#tableBody tr:nth-child(2n + 1) td {
	background-color: var(--dark-row);
}

.totalMonthly {
	width: max-content;
	margin-left: auto;
}

/* .inputContainer {
	width: max-content;
	margin: auto;
} */
